mixin search(search)
    .col-6   
        form(class="form-search")
            .input-group
                input(type="text" placeholder="Nhập tìm kiếm" name="keyword" class="form-control border-success" value=search)
                button(type="submit" class="btn btn-success ms-1") SEARCH