extends ../../layouts/default.pug 
include ../../mixins/alerts.pug
block main 
    h1 Tạo Mới Sản Phẩm 
    +alertError(5000)
    form(action=`${prefixAdmin}/products/createPost`, method="post",enctype="multipart/form-data") 
        div(class="mt-2") 
            label(for="title" class="mb-2 ms-2" style="font-size:20px") Tiêu Đề 
            input(type="text", name="title",class="form-control",id="title") 
        div(class="mt-2") 
            label(for="describe" class="mb-2 ms-2" style="font-size:20px") Mô Tả 
            textarea(name="description",class="form-control",id="describe",style="height:100px") 
        div(class="mt-2") 
            label(for="price" class="mb-2 ms-2" style="font-size:20px") Giá 
            input(type="number", name="price",class="form-control",id="price",required,min="1") 
        div(class="mt-2") 
            label(for="percent" class="mb-2 ms-2" style="font-size:20px") % Giá 
            input(type="number", name="discountPercentage",class="form-control",id="percent",required,min="1") 
        div(class="mt-2") 
            label(for="thumbnail" class="mb-2 ms-2" style="font-size:20px") Ảnh 
            .row.align-items-center 
                .col-4 
                    input(type="file", name="thumbnail",class="form-control",id="thumbnail",thumbnail) 
                .col-3     
                    .preview-wrapper
                        img(src="", alt="image", uploadPreviewImage,class="d-none")
                        span.removeCloseUpload.d-none X
        div(class="mt-2") 
            label(for="position" class="mb-2 ms-2" style="font-size:20px") Vị Trí 
            input(type="number", name="position",class="form-control",id="position",required,min="1") 
        div(class="mt-4") 
        .input-group 
            .form-check 
                input(type="radio", name="status",id="active",class="form-check-input",value="active") 
                label(for="active" , class="form-check-label") Hoạt Động 
            .form-check.ms-4 
                input(type="radio", name="status",id="inactive",class="form-check-input " ,value="inactive") 
                label(for="inactive", class="form-check-label" value="inactive") Không Hoạt Động 
        button(type="submit" class="btn btn-primary mt-4") Tạo Mới
    script(src="/admin/js/create.js") 
    
        