a {
  color: black;
  text-decoration: none;
}

.header {
  background-color: rgb(241, 228, 227);
  padding: 10px;
}
.inner-logo img {
  height: 50px;
}
.header .container .align-items-center {
  display: flex;
  justify-content: space-around;
}
.header .container .align-items-center .inner-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .align-items-center .inner-menu ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.header .container .align-items-center .inner-menu ul li:nth-child(2) {
  margin-left: 90px;
}
.footer {
  text-align: center;
  background-color: rgb(221, 154, 115);
}
/*--------------------product---------------------------------------*/
.my-3 .product-item {
  background-color: rgb(229, 230, 221);
  border-radius: 20px;
  padding-bottom: 15px;
}
.my-3 .product-item .inner-image {
  height: 250px;
}
.my-3 .product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.my-3 .product-item .inner-title {
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
}
.my-3 .product-item .inner-price-new {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.my-3 .product-item .inner-price-old {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration: line-through;
}
.my-3 .product-item .inner-discount {
  display: flex;
}
.my-3 .product-item .inner-discount span {
  font-size: 20px;
  padding: 5px 20px;
  background-color: rgb(228, 144, 144);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
